* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eff0f2;
  padding: 65px 0 125px 0;
}

.header__content {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 7%; */
}

.header__link {
  display: block;
  width: 115px;
  padding: 0 7px; 
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.647;
  text-align: center;
  text-shadow: 0px 0px 1px #151516bf;
  text-decoration: none;
  border: 5px solid #170f1c;
  margin-bottom: 150px;
}

.header__letter {
  font-size: 19px;
  color: #76f4ea;
}

.header__title {
  font-size: 45px;
  font-family: "Montserrat";
  color: #505050;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 1.5px;
  text-align: center;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
  margin-bottom: 130px;
}

.header__highlight {
  background-color: #b2f2ee;
  padding: 0 10px;
}

.header__button {
  display: block;
  width: 235px;
  margin: 0 auto;
  padding: 10px 50px; 
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  text-transform: uppercase;
  line-height: 1.65;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #777879;
  transition: background-color .5s;
}

.header__button:hover {
  background-color: #b2f2ee;
  border: 2px solid #b2f2ee;
  font-weight: bolder;
}

.header__glass {
  display: block;
  margin-left: 75%;
}

.header__image {
  position: relative;
  bottom: 25px;
}

.about-us{
  background-color: #f8fafa;
  padding: 110px 0;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.blocks__header {
  font-size: 38px;
  font-family: "Montserrat";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.block__description {
  font-size: 18px;
  font-family: "Merriweather";
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  line-height: 1.556;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 125px;
}

.about-us__content {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 60px;
}

.about-us__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-us__text {
  margin-left: 120px;
  padding: 25px 0;
}

.about-us__subheader {
  font-size: 20px;
  font-family: "Merriweather";
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  letter-spacing: .8px;
  text-transform: uppercase;
  margin: 5px 0 30px;
}

.about-us__description {
  font-size: 16px;
  font-family: "Raleway";
  color: #000000bf;
  line-height: 1.75;
  letter-spacing: 0.85px;
  margin-bottom: 30px;
}

.featured-works {
  padding: 110px 0 125px 0;
}

.featured-works__list {
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.featured-works__item {
  cursor: pointer;
  transition: .3s;
}

.featured-works__item:hover {
  opacity: 0.6;
}

.featured-works__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.small-team {
  background-color: #f9fbfb;
  padding: 110px 0 125px 0;
}

.small-team__list {
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.small-team__item {
  position: relative;
}

.small-team__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.small-team__item > .small-team__effect {display: none;}

.small-team__item:hover > .small-team__effect {display: block; cursor: default;}

.small-team__effect {     
  position: absolute;
  left: 17.5px;
  right: 17.5px;    
  /* position: relative; */
  bottom: 15px;
}

.small-team-effect__caption { 
  background-color: #02f6eb;
  position: absolute;
  bottom: 0;
	left: 0;
  padding: 40px 40px;
}

.small-team-effect__caption:before {
  border-bottom: 20px solid #02f6eb;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
	position:absolute;
	bottom:100%;
	left: 40px;
	content:'';
}

.small-team-effect__caption:after {
  content:'';
}

.small-team-effect__caption h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Merriweather";
  color: #272727f2;
  font-weight: bold;
  margin-bottom: 18px;
}

.small-team-effect__caption span {
  color: #748684;
  text-transform: none;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
}

.small-team-effect__caption p {
  font-size: 16px;
  font-family: "Raleway";
  letter-spacing: .5px;
  color: #000000;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}

.ste-socials__list {
  display: flex;
  flex-direction: row;
  list-style: none; 
}

.ste-socials__item {
  width: 25px;
}

.ste-socials__item a {
  color: #214946;  
  font-size: 13px;
  transition: font-size 0.2s;
}

.ste-socials__item a:hover {  
  font-size: 18px;
}

footer {
  background-color: rgb(38, 43, 46);
  height: 315px;
}

.footer__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.563;
  padding-top: 85px;
}

.footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 46px);
  gap: 7px;
  padding-top: 10px;
  width: 205px;
  margin: 0 auto;
}

.footer__item {
  background-color: #8a8a8a66;
  width: 46px;
  height: 40px;
  transition: background-color .5s;
}

.footer__item:hover {
  background-color: #71f6eb;
}

.footer__item a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  text-align: center;
}

.footer__item a:hover {
  color:#000000;
}

.footer__item i {
  width: 46px;
  padding: 10px 0;
}

.contact-data {
  background-image: url("../images/christmas_snow_trees-wide.jpg");
  background-size: contain;
  padding: 120px 0;
}

.contact-data__content {
  max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.contact-data__form {
  /* width: 615px; */
  width: 55%;
  height: 460px;
  margin-right: 25px;
  background-color: rgba(2, 22, 35, 0.7);
  box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
}

.contact-data__userinfo-list {
  list-style: none;
  padding: 15px 30px 35px 30px;  
}

.contact-data__item input {
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-family: "Raleway";
  background-color: transparent;
  padding: 25px 0 10px 0;
  color: #b7bdc0;
  border: 0;
  border-bottom: 1px solid #898b8b;
}

.contact-data__item input:focus {
  outline: none;
}

.contact-data__item textarea {
  width: 100%;
  height: 137px;
  padding: 25px 0 10px 0;
  resize: none;
  background-color: transparent;
  font-size: 15px;
  font-family: "Raleway";
  color: #b7bdc0;
  border: 0;
  border-bottom: 1px solid #898b8b;
}

.contact-data__item textarea:focus {
  outline: none;
	color: #b7bdc0;
}

.contact-data__button {  
  padding-top: 38px;
}

.contact-data__button button {
  border: 2px solid #6eeee4;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  width: 244px;
  height: 53px;
  font-size: 18px;
  font-family: "Montserrat";
  color: whitesmoke;
  text-transform: uppercase;
  line-height: 1.5;
  transition: background-color .5s;
}

.contact-data__button button:hover {
  background-color: #6eeee4;
  color: #495862;
  font-weight: bolder;
}

.contact-data__agency {
  /* width: 500px; */
  width: 45%;
  height: 460px;
  background-color: rgba(2, 22, 35, 0.7);
  box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
  font-size: 15px;
  font-style: normal;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.6;
  padding: 30px 23px 19px 23px;
}

.contact-data__agency a {
  color: #b7bdc0;
  text-decoration: none;
}

.contact-data__agency a:hover {
  color:#76f4ea;
}

.contact-data__maps {
  padding-top: 15px;
}

@media (max-width: 1024px) {
  .header {
    padding: 65px 0 105px;
  }
  .header__content {
    padding: 0 5%;
  }
  .header__link {
    margin-bottom: 100px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__glass {
    margin-left: 85%;
  }
  .content {
    padding: 0 5%;
  }
  .about-us {
    padding: 105px 0;
  }
  .about-us__content {
    padding: 0 25px 0 30px;
  }
  .about-us__text {
    margin-left: 30px;
  }
  .about-us__description {
    font-size: 15px;
  }
  .block__description {
    margin-bottom: 80px;
    font-size: 15px;
  }
  .small-team-effect__caption {
    padding: 30px;
  }
  .small-team-effect__caption h4 {
    font-size: 18px;
  }
  .small-team-effect__caption span {
    font-size: 13px;
  }
  .small-team-effect__caption p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contact-data__content {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 65px 0 70px;
  }
  .header__link {
    width: 100px;
    font-size: 14px;
    line-height: 1.5;
    border: 4px solid #170f1c;
    margin-bottom: 80px;
    padding: 2px 5px 0 5px;
  }
  .header__letter {
    font-size: 17px;
  } 
  .header__title {
    font-size: 30px;
    margin-bottom: 100px;
  }
  .header__button {
    width: 180px;
    padding: 7px 30px;
    font-size: 13px;
  }
  .header__image {
    width: 70%;
    height: 70%;
  }
  .about-us {
    padding: 80px 0;
  }
  .blocks__header {
    font-size: 30px;
  }
  .block__description {
    font-size: 12px;
    margin-bottom: 60px;
  }
  .about-us__picture {
    width: 50%;
    height: 50%;
  }
  .about-us__text {
    padding: 20px 0 0;
  }
  .about-us__subheader{
    font-size: 14px;
    margin: 0 0 20px 0;
  }
  .about-us__description {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .featured-works {
    padding: 80px 0;
  }
  .featured-works__list {
    grid-gap: 10px;
  }
  .small-team {
    padding: 80px 0;
  }
  .small-team__list {
    grid-gap: 10px;
  }
  .small-team__effect {
    left: 12.5px;
    right: 12.5px;
    bottom: 10px;
  }
  .small-team-effect__caption {
    padding: 20px 20px 15px;
  }
  .small-team-effect__caption:before {
    left: 15px;
    border-bottom: 12px solid #02f6eb;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .small-team-effect__caption h4 {
    font-size: 13px;
    margin-bottom: 13px;
  }
  .small-team-effect__caption span {
    font-size: 10px;
  }
  .small-team-effect__caption p {
    font-size: 11px;
    margin-bottom: 13px;
  }
  .contact-data {
    padding: 80px 0;
  }
  .contact-data__form {
    height: 415px;
    width: 50%;
    margin-right: 15px;
  }
  .contact-data__item input {
    padding: 18px 0 5px;
    height: 50px;
    font-size: 12px;
  }
  .contact-data__item textarea {
    padding: 15px 0 5px;
    height: 130px;
    font-size: 12px;
  }
  .contact-data__button {
    padding-top: 45px;
  }
  .contact-data__button button {
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .contact-data__agency {
    font-size: 13px;
    letter-spacing: .3px;
    padding: 20px 18px 15px;
    width: 50%;
    height: 40%;
  }
}